<div class="row text-center mb-2">
  <div class="col-md-4">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary-solid btn-sm"
        mwlCalendarPreviousView
        [view]="view"
        [viewDate]="currentViewDate()"
        (viewDateChange)="onViewDateChange($event)"
      >
        Previous
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        mwlCalendarToday
        [viewDate]="currentViewDate()"
        (viewDateChange)="onViewDateChange($event)"
      >
        Today
      </button>

      <button
        type="button"
        class="btn btn-primary-solid btn-sm"
        mwlCalendarNextView
        [view]="view"
        [viewDate]="currentViewDate()"
        (viewDateChange)="onViewDateChange($event)"
      >
        Next
      </button>
    </div>
  </div>

  <div class="col-md-4">
    <h3 class="mb-0" style="font-size: 1.25rem;">{{ currentViewDate() | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>

  <div class="col-md-4">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary-solid btn-sm"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </button>

      <button
        type="button"
        class="btn btn-primary-solid btn-sm"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </button>

      <button
        type="button"
        class="btn btn-primary-solid btn-sm"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </button>
    </div>
  </div>
</div>

<div class="mt-1">
  @switch (view) {
    @case (CalendarView.Month) {
      <mwl-calendar-month-view
        [viewDate]="currentViewDate()"
        [events]="events()"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEventClicked($event.event)"
      />
    }

    @case (CalendarView.Week) {
      <div
        #timeViewScroll
        style="max-height: 70vh; overflow-y: auto;"
      >
        <mwl-calendar-week-view
          [viewDate]="currentViewDate()"
          [events]="events()"
          [refresh]="refresh"
          [dayStartHour]="dayStartHour"
          [dayEndHour]="dayEndHour"
          [hourSegments]="hourSegments"
          [hourSegmentHeight]="hourSegmentHeight"
          (eventClicked)="handleEventClicked($event.event)"
        />
      </div>
    }

    @case (CalendarView.Day) {
      <div
        #timeViewScroll
        style="max-height: 70vh; overflow-y: auto;"
      >
        <mwl-calendar-day-view
          [viewDate]="currentViewDate()"
          [events]="events()"
          [refresh]="refresh"
          [dayStartHour]="dayStartHour"
          [dayEndHour]="dayEndHour"
          [hourSegments]="hourSegments"
          [hourSegmentHeight]="hourSegmentHeight"
          (eventClicked)="handleEventClicked($event.event)"
        />
      </div>
    }
  }
</div>