/* .page-header {
    text-align: center;
}

.page-border {
    min-height: 330px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
}

.username-box {
    min-height: 60px;
    display: flex;
    background-color: rgb(255, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.email-box {
    min-height: 60px;
    display: flex;
    background-color: rgb(0, 0, 255);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.edit-user-profile-button {
    min-height: 60px;
    display: flex;
    background-color: rgb(0, 255, 255);
    place-items: center;
    border-radius: 8px;
}
 

.container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin: 50px;
} */